@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

:root {
    /*===== Colores =====*/
    --first-color: #FFF;
    --input-color: #80868B  ;
    --border-color: #80868B;

    /*===== Fuente y tipografia =====*/
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
    --left-align: 1rem
}

/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/*===== FORM =====*/
.form__div {
    position: relative;
    height: 48px;
    /*margin-bottom: 1.5rem;*/
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem var(--left-align);
    background: none;
    z-index: 1;
}

.form__label {
    position: absolute;
    left: var(--left-align);
    top: 50%;
    transform: translateY(-50%);
    padding: 0 .25rem;
    background-color: #000;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

/*Input focus move up label*/
.form__input:focus + .form__label {
    top: -.5rem;
    left: .8rem;
    transform: translateY(0%);
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    top: -.5rem;
    left: .8rem;
    transform: translateY(0%);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/*Input focus*/
.form__input:focus {
    border: 2px solid var(--first-color);
}

.input-wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.delete-icon {
    display: none;
    position: absolute;
    height: 20px;
    right: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 10;
}

.delete-icon.show {
    transition: visibility 0s, opacity 0.5s linear;
    display: block;
}

.input-wrapper:hover + .delete-icon {
    display: none;
}

@media screen and (max-width: 998px) {
    :root {
        --normal-font-size: 1.603206412825651vw;
        --small-font-size: 1.202404809619238vw;
        --left-align: 1.603206412825651vw;
    }
    .form__div {
        height: 4.809619238476954vw;
    }
    .form__input:focus + .form__label {
        top: -0.8016032064128257vw;
        left: 1.282565130260521vw;
    }
    .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
        top: -0.8016032064128257vw;
        left: 1.282565130260521vw;
    }
}

/*Stops font from decreasing further*/
@media screen and (max-width: 784px){
    :root {
        --normal-font-size: 12.5px;
        --small-font-size: 9.375px;
    }
    .form__div {
        height: 37.70741482965932px;
    }
    .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
        top: -6.284569138276553px;
        left: 10.05531062124248px;
    }
    .form__input:focus + .form__label {
        top: -6.284569138276553px;
        left: 10.05531062124248px;
    }
}











.give-margin{
    margin-left: 20px;
}
.styled-input-wrapper-items {
    display: inline-block;
}

.styled-input-wrapper-items.item {
    width: 684.227px;
}

.styled-input-wrapper-items.price {
    width: 205.261px;
    margin-left: 20px;
}



.check-wrapper-item {
    display: block;
    margin-left: auto;
    height: 30px;
}
.item-wrapper-item {
    padding: 6px 1vw;
    text-align: center;
}

.check-outer-wrapper {
    display: inline-block;
    top: 50%;
    margin-left: 20px;
    transform: translateY(-25%);
}

@media screen and (max-width: 998px) {
    .styled-input-wrapper-items.item {
        width: calc(70.76603206412826vw - 32px);
    }
    .item-wrapper-item {
        padding: 6px 10px;
    }
    .styled-input-wrapper-items.price {
        width: calc(22.77254509018036vw - 32px);
        margin-left: 2.004008016032064vw;
    }
    .check-outer-wrapper {
        margin-left: 2.004008016032064vw;
    }
    .check-wrapper-item {
        height: 3.006012024048096vw;
    }
}

@media screen and (max-width: 784px){
    .check-wrapper-item {
        height: 23.56713426853707px;
    }
}










/*Snackbar*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}